In [4]:
#from pyquery import PyQuery as pq
# APIs can be found at https://develop.battle.net/
import pandas as pd
from pandas.io.json import json_normalize
import requests as req
import json
from scipy import stats
import numpy as np
import statistics
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#Code to convert csv into dictionary
# usa_servers = dict()
# f = open("wowservers")
# for line in f:
#     line = line.strip('\n')
#     (key, val) = line.split(",")
#     usa_servers[key] = val

In [6]:
# WoW Token Price
token_api = "https://us.api.blizzard.com/data/wow/token/index?namespace=dynamic-us&locale=en_US&access_token=US2UUyzzDPpm9KppHPvmlxmlE2ngQKq125"
tokenresp = req.get(token_api)

# Convert response to json
token = tokenresp.json()

# Print token price
token_price = token['price']
token_gold = token['price']/10000
print(f"The price of a WoW token is currrently {token_gold:,} gold.")

The price of a WoW token is currrently 201,665.0 gold.

In [7]:
#Server 1 - Tichondrius 11
url = "https://us.api.blizzard.com/data/wow/connected-realm/11/auctions?namespace=dynamic-us&locale=en_US&access_token=US2UUyzzDPpm9KppHPvmlxmlE2ngQKq125"
resp = req.get(url)
#doc = pq(resp.text)

# Convert response to json
data = resp.json()

# Convert json to pandas df
df = json_normalize(data, 'auctions')
df.drop(['item.bonus_lists', 'item.pet_breed_id', 'item.pet_level',
        'item.pet_quality_id', 'item.pet_species_id', 'item.context', 'item.modifiers'], axis=1, inplace=True)

#title = doc('title').text()
#print(title)

In [8]:
#Server 2 - Illidan 57
url2 = "https://us.api.blizzard.com/data/wow/connected-realm/57/auctions?namespace=dynamic-us&locale=en_US&access_token=US2UUyzzDPpm9KppHPvmlxmlE2ngQKq125"
resp2 = req.get(url2)
#doc2 = pq(resp2.text)
# Convert response to json
data2 = resp2.json()
# Convert json to pandas df
df2 = json_normalize(data2, 'auctions')
df2.drop(['item.bonus_lists', 'item.pet_breed_id', 'item.pet_level',
        'item.pet_quality_id', 'item.pet_species_id', 'item.context', 'item.modifiers'], axis=1, inplace=True)

In [9]:
# Item ID dictionary
item_dict = {}
item_dict["Callous Hide"] = 172094
item_dict["Heavy Callous Hide"] = 172097
item_dict["Enchanted Heavy Callous Hide"] = 172438
item_dict["Heavy Desolate Leather"] = 172096
item_dict["Lightless Silk"] = 173204
item_dict["Enchanted Lightless Silk"] = 172439
item_dict["Death Blossom"] = 169701
item_dict["Marrowroot"] = 168589
item_dict["Nightshade"] = 171315
item_dict["Rising Glory"] = 168586
item_dict["Sinvyr Ore"] = 171832
item_dict["Vigil's Torch"] = 170554
item_dict["Widowbloom"] = 168583
item_dict["Spectral Flask of Power"] = 171276
item_dict["Spectral Flask of Stamina"] = 171278
item_dict["Sacred Shard"] = 172231
item_dict["Soul Dust"] = 172230
item_dict["Eternal Crystal"] = 172232
item_dict["Elethium Ore"] = 171833
item_dict["Potion of Spectral Intellect"] = 171273
item_dict["Korthite Crystal"] = 186017

In [18]:
# Create variable for item id to locate the desired items from each server
#select = input()
#items = [item_dict[select]]
items = []
for k,v in item_dict.items():
    items.append(v)

In [19]:
items

[172094,
 172097,
 172438,
 172096,
 173204,
 172439,
 169701,
 168589,
 171315,
 168586,
 171832,
 170554,
 168583,
 171276,
 171278,
 172231,
 172230,
 172232,
 171833,
 171273,
 186017]

In [12]:
# Include only select item id, sort by lowest price, create df to store n lowest values
df_item = df.loc[df['item.id'].isin(items)]
df_low = df_item.sort_values(by='unit_price', ascending=True)
low1 = df_low
low1['unit_price'] = round(low1['unit_price']/10000, 2)
low1['total'] = low1['unit_price']*low1['quantity']
df2_item = df2.loc[df2['item.id'].isin(items)]
df2_low = df2_item.sort_values(by='unit_price', ascending=True)
low2 = df2_low
low2['unit_price'] = round(low2['unit_price']/10000, 2)
low2['total'] = low2['unit_price']*low2['quantity']

In [164]:
#Create new dataframes from ones above grouping by id and price and aggregating the sum of each quantity
serv1 = low1.groupby(['item.id','unit_price']).agg({'quantity':'sum'}).reset_index()
serv2 = low2.groupby(['item.id','unit_price']).agg({'quantity':'sum'}).reset_index()

In [17]:
low1

,id,quantity,unit_price,time_left,item.id,buyout,bid,total
85903,211524515,3,1050.00,VERY_LONG,186017,NaN,NaN,3150.00
85313,211522399,16,1050.00,VERY_LONG,186017,NaN,NaN,16800.00
85295,211522367,2,1050.00,VERY_LONG,186017,NaN,NaN,2100.00
85248,211522294,5,1050.00,VERY_LONG,186017,NaN,NaN,5250.00
84946,211521763,9,1095.00,VERY_LONG,186017,NaN,NaN,9855.00
84926,211521692,1,1095.00,VERY_LONG,186017,NaN,NaN,1095.00
84862,211521592,5,1095.00,VERY_LONG,186017,NaN,NaN,5475.00
74455,211489203,200,1100.00,VERY_LONG,186017,NaN,NaN,220000.00
74461,211489220,200,1100.00,VERY_LONG,186017,NaN,NaN,220000.00
74462,211489226,8,1100.00,VERY_LONG,186017,NaN,NaN,8800.00
74464,211489230,2,1100.00,VERY_LONG,186017,NaN,NaN,2200.00
74466,211489239,200,1100.00,LONG,186017,NaN,NaN,220000.00
74553,211489474,6,1100.00,VERY_LONG,186017,NaN,NaN,6600.00
75064,211491082,5,1100.00,VERY_LONG,186017,NaN,NaN,5500.00
83980,211519848,2,1100.00,VERY_LONG,186017,NaN,NaN,2200.00
84365,211520595,1,1100.00,VERY_LONG,186017,NaN,NaN,1100.00
84497,211520908,12,1100.00,VERY_LONG,186017,NaN,NaN,13200.00
84397,211520687,31,1100.00,VERY_LONG,186017,NaN,NaN,34100.00
74436,211488998,2,1100.00,LONG,186017,NaN,NaN,2200.00
84542,211520972,8,1100.00,VERY_LONG,186017,NaN,NaN,8800.00
84717,211521231,1,1100.00,VERY_LONG,186017,NaN,NaN,1100.00
84755,211521311,20,1100.00,VERY_LONG,186017,NaN,NaN,22000.00
84823,211521521,1,1100.00,VERY_LONG,186017,NaN,NaN,1100.00
84846,211521573,24,1100.00,VERY_LONG,186017,NaN,NaN,26400.00
84905,211521654,29,1100.00,LONG,186017,NaN,NaN,31900.00
84369,211520609,3,1100.00,VERY_LONG,186017,NaN,NaN,3300.00
85369,211522519,14,1100.00,VERY_LONG,186017,NaN,NaN,15400.00
74423,211488812,3,1100.00,LONG,186017,NaN,NaN,3300.00
74399,211488668,9,1100.00,VERY_LONG,186017,NaN,NaN,9900.00
74400,211488677,10,1298.00,VERY_LONG,186017,NaN,NaN,12980.00
74687,211490237,2,1298.00,VERY_LONG,186017,NaN,NaN,2596.00
74391,211488518,1,1299.00,VERY_LONG,186017,NaN,NaN,1299.00
74354,211488293,4,1299.00,VERY_LONG,186017,NaN,NaN,5196.00
74346,211488279,4,1299.00,VERY_LONG,186017,NaN,NaN,5196.00
74241,211488120,29,1299.00,VERY_LONG,186017,NaN,NaN,37671.00
73776,211485508,7,1300.00,VERY_LONG,186017,NaN,NaN,9100.00
73800,211485673,1,1300.00,VERY_LONG,186017,NaN,NaN,1300.00
73976,211486120,2,1300.00,VERY_LONG,186017,NaN,NaN,2600.00
74065,211486677,12,1300.00,VERY_LONG,186017,NaN,NaN,15600.00
73790,211485581,5,1300.00,VERY_LONG,186017,NaN,NaN,6500.00
74069,211486731,3,1300.00,VERY_LONG,186017,NaN,NaN,3900.00
74098,211486860,5,1300.00,VERY_LONG,186017,NaN,NaN,6500.00
74100,211486864,5,1300.00,VERY_LONG,186017,NaN,NaN,6500.00
74226,211488100,4,1300.00,VERY_LONG,186017,NaN,NaN,5200.00
73766,211485396,14,1300.32,VERY_LONG,186017,NaN,NaN,18204.48
73466,211484479,5,1300.32,VERY_LONG,186017,NaN,NaN,6501.60
73256,211484092,13,1300.32,VERY_LONG,186017,NaN,NaN,16904.16
72821,211481742,9,1475.32,VERY_LONG,186017,NaN,NaN,13277.88
73149,211483789,7,1475.32,VERY_LONG,186017,NaN,NaN,10327.24
78546,211502405,5,1500.00,VERY_LONG,186017,NaN,NaN,7500.00
72714,211481498,4,1500.00,VERY_LONG,186017,NaN,NaN,6000.00
72412,211480840,8,1500.00,VERY_LONG,186017,NaN,NaN,12000.00
72354,211480651,1,1500.00,VERY_LONG,186017,NaN,NaN,1500.00
72219,211480300,200,1500.00,LONG,186017,NaN,NaN,300000.00
6245,211199747,25,1500.00,VERY_LONG,186017,NaN,NaN,37500.00
8343,211259040,5,448578.00,VERY_LONG,186017,NaN,NaN,2242890.00
4973,211267655,3,450000.00,VERY_LONG,186017,NaN,NaN,1350000.00
1959,211058538,107,450000.00,LONG,186017,NaN,NaN,48150000.00

In [166]:
# #Finding the real median
# lister = []
# for index, row in serv1.loc[serv1['item.id'] == 171833].iterrows():
#     x = [row['unit_price']] * int(row['quantity'])
#     lister.append(x)
# some_list = []
# for i in lister:
#     for j in i:
#         some_list.append(j)
# statistics.median(some_list)

45.72

In [161]:
# Find the median unit_price for each item.id
medians = {}
for i in items:
    y = tester.loc[tester['item.id'] == i]
    x = round((y['unit_price'].median())*1.17, 2)
    medians[i] = x
medians

{172094: 38.61,
 172097: 348.54,
 172438: 670.08,
 172096: 51.5,
 173204: 26.75,
 172439: 75.46,
 169701: 15.22,
 168589: 22.18,
 171315: 24.56,
 168586: 18.36,
 171832: 16.54,
 170554: 14.93,
 168583: 25.21,
 171276: 326.85,
 171278: 145.27,
 172231: 64.7,
 172230: 802.03,
 172232: 168.48,
 171833: 59.0,
 171273: 102.82}

In [ ]:
# STOPPED HERE
# Use medians as cutoff point for outliers for each item.id and then run calculations below for each item.id
# Find highest disparaties and graph

In [13]:
#Create new dataframes to calculate differences
serv1 = pd.DataFrame()
serv2 = pd.DataFrame()

#Server 1 columns and values
serv1['price'] = low1['unit_price']
serv1['quantity'] = low1['quantity']
serv1['total'] = low1['unit_price']*low1['quantity']
serv1p = serv1['price'].mean()
serv1 = serv1[ serv1['price'] <= (serv1p) ]
serv1avg = round(serv1['price'].mean(), 2)
serv1quant = sum(serv1['quantity'])
print(f"On server 1, the average cost of the item is {serv1avg:,} and the quantity is {serv1quant:,}.")


# Reset index and drop old index
serv1 = serv1.reset_index()
serv1.drop(['index'], axis=1, inplace=True)

#Server 2 columns and values
serv2['price'] = low2['unit_price']
serv2['quantity'] = low2['quantity']
serv2['total'] = low2['unit_price']*low2['quantity']
serv2p = serv2['price'].mean()
serv2 = serv2[ serv2['price'] <= (serv2p)]
serv2avg = round(serv2['price'].mean(), 2)
serv2quant = sum(serv2['quantity'])
print(f"On server 2, the average cost of the item is {serv2avg:,} and the quantity is {serv2quant:,}.")



# Reset index and drop old index
serv2 = serv2.reset_index()
serv2.drop(['index'], axis=1, inplace=True)

On server 1, the average cost of the item is 1,218.7 and the quantity is 1,207.
On server 2, the average cost of the item is 1,117.44 and the quantity is 3,567.

In [14]:
#Calculate the total cost of buying out server 1 and 2
buyout1 = round(sum(serv1['total'])/10000, 3)
buyout2 = round(sum(serv2['total'])/10000, 3)

#Calculate the quantity * average cost for both scenarios
conversion1 = serv1quant * serv2avg
conversion2 = serv2quant * serv1avg

#Factor in the cost of buyout with the potential earning
pe1 = round(conversion1 - buyout1, 3)
pe2 = round(conversion2 - buyout2, 3)

#Factor in the cost of 2 WoW tokens
tcost1 = round(pe1 - (token_gold*2),3)
tcost2 = round(pe2 - (token_gold*2),3)

In [15]:
print(f"To buyout server 1, it would cost: {buyout1:,}")
print(f"To buyout server 2, it would cost: {buyout2:,}")
print("This is how much profit you could make moving from server 1 to 2:")
print(f"{pe1:,} gold")
print("Factoring 2 WoW tokens for transfer, you would net:")
print(f"{tcost1:,} gold")
print("This is how much profit you could make moving from server 2 to 1:")
print(f"{pe2:,} gold")
print("Factoring 2 WoW tokens for transfer, you would net:")
print(f"{tcost2:,} gold")

To buyout server 1, it would cost: 145.468
To buyout server 2, it would cost: 396.321
This is how much profit you could make moving from server 1 to 2:
1,348,604.612 gold
Factoring 2 WoW tokens for transfer, you would net:
945,274.612 gold
This is how much profit you could make moving from server 2 to 1:
4,346,706.579 gold
Factoring 2 WoW tokens for transfer, you would net:
3,943,376.579 gold